html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans', sans-serif;
}
.wrapper{
    background: #15222e;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.adap{
    display: flex;
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 0px;
}
.main{
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
    margin: 0px auto;
    padding: 0px 0px;
}
.adaptive_button{
    display: none;
}
.button_mobile_free{
    width: 100px;
    height: 50px;
    border: 1px solid gold;
    margin: 10px;
    border-radius: 10%;
    color: white;
    font-size: 13px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #15222E;
    margin-top: 140px;
}
.button_mobile_ru{
    width: 100px;
    height: 50px;
    border: 1px solid gold;
    margin: 10px;
    border-radius: 10%;
    color: white;
    font-size: 13px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #15222E;
    margin-top: 140px;
}
.button_mobile_america{
    width: 100px;
    height: 50px;
    border: 1px solid gold;
    margin: 10px;
    border-radius: 10%;
    color: white;
    font-size: 13px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #15222E;
    margin-top: 140px;
}
.button_mobile{
    display: none;
    width: 60px;
    height: 60px;
    border: 1px solid gold;
    position: absolute;
    top: 20px;
    right: 120px;
    border-radius: 10%;
}
.button_mobile span{
    width: 80%;
    height: 4px;
    background-color: gold;
    position: relative;
    transition: background-color 100ms 100ms;
}
.button_mobile span::before, .button_mobile span::after{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: gold;
}
.button_mobile span::before{
    content: '';
    top: -10px;
}
.button_mobile span::after{
    content: '';
    bottom: -10px;
}
.button_mobile span::before{
    top: -10px;
}
.button_mobile span::after{
    bottom: -10px;
}
.button_mobile::before{
    transition-property: top, transform;
}
.button_mobile::after{
    transition-property: bottom, transform;
}
.button_mobile span::before, .menu_mobile span::after{
    transition-duration: 300ms, 300ms;
    transition-delay: 0ms, 0ms;
}
.button_mobile.active span{
    background-color: transparent;
}
.button_mobile.active span::before{
    top: 0;
    transform: rotate(-45deg);
}
.button_mobile.active span::after{
    bottom: 0;
    transform: rotate(45deg);
}
.button_mobile.active span::before, .menu_mobile.active span::after{
    transition-duration: 300ms, 300ms;
    transition-delay: 0ms, 0ms;
}
.change-lang{
    width: 70px;
    height: 40px;
    border: solid 2px gold;
    cursor: pointer;
    background: #15222e;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    outline: none;
    position: absolute;
    top: 30px;
    right: 20px
}
.gold10{
    color: gold;
}
.game_text{
    margin: 0px 10px;
    padding: 38px 0px 0px 1px;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
}
.logo{
    padding: 20px 0px;
    cursor: pointer;
}
.gold:hover a{
    color: gold;
    transition: 1s;
}
.wrapper a{
    text-decoration: none;
    color: white;
}
.gold1:hover{
    color: gold;
    transition: 1s;
    cursor: pointer;
}
.gold2:hover{
    color: gold;
    transition: 1s;
    cursor: pointer;
}
.gold3:hover{
    color: gold;
    transition: 1s;
    cursor: pointer;
}
.gold4:hover{
    color: gold;
    transition: 1s;
    cursor: pointer;
}
.gold5:hover{
    color: gold;
    transition: 1s;
    cursor: pointer;
}
.gold6:hover{
    color: gold;
    transition: 1s;
    cursor: pointer;
}
.footer{
    display: flex;
    width: 100%;
    height: 100px;
    background: #15222e;
    color: white;
    justify-content: space-evenly;
    padding-top: 25px;
}
.pay_system_img{
    align-items: center;
    justify-content: center;
    display: flex;
    column-gap: 20px;
    padding: 150px 0px 100px 0px;
}
.pay_system_img img{
    max-width: 100%;
}
.dropbtn{
    background: #15222e;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bolder;
}
.dropdown{
    position: relative;
    display: inline-block;
    top: 2px;
}
.dropdown-content{
    display: none;
    position: absolute;
    min-width: 186px;
    z-index: 1;
    background: #15222e;
    border-radius: 10px;
    margin-left: -36px;
    border: 1px solid palegoldenrod;
}
.dropdown-content a{
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: bolder;
}
.dropdown-content a:hover{
    color: gold;
    transition: 1s;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bolder;
}
.show{
    display: block;
}
.header {
    background-color: #15222E;
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 10px 0px;
    font-family: 'Noto Sans', sans-serif;
    position: relative;
}
.header__logo {
    display: flex;
    align-items: center;
}
.logo__img {
    margin-right: 20px;
}
.logo {
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.logo:hover {
    color: gold;
    transition: 1s;
}
.list {
    list-style: none;
    padding: 30px 0px 0px 0px;
    display: flex;
    margin: 0px 120px;
}
.list__item {
    position: relative;
    margin: 0px 10px 10px;
    line-height: 40px;
    text-align: center;
    column-gap: 10px;
}
.list__link {
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: .3s;
}
.menu_6{
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: .3s;
}
.menu_1{
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: .3s;
}
.menu_1{
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: .3s;
}
.menu_3{
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: .3s;
}
.menu_4{
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: .3s;
}
.menu_5{
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: .3s;
}
.list__link:hover {
    color: gold;
    transition: 1s;
}
.lineage__box:hover > .lineage {
    display: block;
    transition: .3s;
}
.lineage {
    position: absolute;
    left: -20px;
    top: 40px;
    width: max-content;
    display: none;
    border: 1px solid palegoldenrod;
    border-radius: 8px;
    background-color: #15222E;
    padding: 10px 20px;
    z-index: 1;
}
.lineage__item {
    list-style: none;
}
.lineage__item:not(:last-child){
    margin-bottom: 5px;
}
.lineage__link {
    text-decoration: none;
    line-height: 30px;
    color: white;
    font-weight: 600;
    transition: .3s;
}
.lineage__link:hover {
    color: gold;
    transition: 1s;
}
.header__social{
    padding: 30px 0px 0px 0px;
    margin: 0px 0px 0px -50px;
}
.social__item {
    text-decoration: none;
    margin: 5px;
}
.menu_mobile{
    position: absolute;
    width: 100%;
    left: -120px;
    flex-direction: column;
    height: 90vh;
    top: 90px;
}
.social__img {
    height: 40px;
    width: 40px;
}
.langes {
    display: flex;
    align-items: center;
}
.langes__link {
    margin: 0 5px;
    text-decoration: none;
}
.index_main{
    width: 1000px;
    height: 450px;
    background: rgba(21, 34, 46, 0.5);
    position: absolute;
    top: 500px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text_hello{
    color: white;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
}
.index_text1{
    position: absolute;
    top: 170px;
    left: 5%;
    right: 5%;
}
.text_hello2{
    color: white;
    position: absolute;
    top: 100px;
    left: 3%;
    font-weight: bolder;
}
.text_hello3{
    color: white;
    position: absolute;
    top: 190px;
    left: 3%;
    font-weight: bolder;
}
.text_hello4{
    color: white;
    position: absolute;
    top: 300px;
    left: 3%;
    font-weight: bolder;
}
.index_main p{
    font-weight: bolder;
    color: white;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.kontakt_mobile{
    display: none;
}
.text_hello1{
    color: gold;
    margin-top: 10px;
    font-weight: bolder;
}